Source: quota-applet
Maintainer: nobody
Build-Depends: debhelper (>= 10)
Section: x11

Package: quota-applet
Architecture: all
Priority: extra
Homepage: https://github.com/geordi/quota-applet
Depends: python3(>=3.6.0), python3-pil(>=5.0.0), python3-gi(>=3.26.0), gir1.2-appindicator3-0.1
Description: Quota super display
